apiVersion: apps/v1
kind: Deployment
metadata:
  name: bolrea-malrea-backend
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: backend
          image: 416963226971.dkr.ecr.ap-northeast-2.amazonaws.com/bolrea-malrea-backend:dev-cbc8868
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          image: 416963226971.dkr.ecr.ap-northeast-2.amazonaws.com/bolrea-malrea-backend:dev-cbc8868
